<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
    cacheResultFile=".phpunit.cache/test-results"
>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <report>
      <clover outputFile="coverage/clover.xml"/>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Setup">
      <file>./tests/AlwaysRunFirstTest.php</file>
    </testsuite>
    <testsuite name="IntegrationTests">
      <directory suffix="Test.php">./tests/Integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_KEY" value="base64:Xgs1LQt1GdVHhD6qyYCXnyq61DE3UKqJ5k2SJc+Nw2g="/>
    <env name="APP_DEBUG" value="true"/>
    <env name="APP_LOG_LEVEL" value="debug"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="SESSION_DRIVER" value="file"/>
    <env name="QUEUE_DRIVER" value="sync"/>
    <env name="MAIL_MAILER" value="log"/>
  </php>
</phpunit>
